<div ng-controller="EvoCtrl" >
	<!-- <div>
		<header>Sample embedded directly as SVG</header>
		<div ng-include="'img/specimen00.svg'"></div>
	</div> -->
	<!-- <div id="svg-test">{{svgTest}}
	</div>
	<button class="btn btn-primary"
	 	ng-click="drawTree()">
	</button> -->
	
	<table class="table-bordered">
		<tr ng-repeat=
			"rowSpecs in [specimens.slice(0,4), specimens.slice(4,8)]">
			<td ng-repeat="specimen in rowSpecs">
				<div>
					<img ng-src="{{specimen.data.imageUrl}}"
				     ng-click="selectSpecimen(specimen.id)"
				     ng-class="{ selected:{{specimen.id == selectedSpecimen}} }">
					</img>
				</div>
				<div>
					<button class="btn btn-primary"
					 		ng-click="nextGeneration(specimen.id)">
						<strong>></strong>
						<!-- <span class="glyphicon glyphicon-play"></span> -->
					</button>
					<a class="btn btn-primary"
					 	ng-href="#/evo/{{specimen.id}}"><tt>i</tt></a>
				</div>
			</td>
		</tr>
	</table>
		
	<table class="table-bordered">
		<tr>
			<td ng-repeat="ancestor in lineage">
				<a ng-href="#/evo/{{ancestor.data}}">
					<img ng-src="{{ancestor.specimen.data.imageUrl}}"
				     ng-click="selectAncestor(ancestor.id)"
				     ng-class="{ selected:{{ancestor.id==selectedAncestor}} }">
					</img>
				</a>
			</td>
		</tr>
	</table>
	
	<!-- <p>Raw lineage = {{lineageRaw}}</p>
	<p>Lineage = {{lineage}}</p>
	<hr>
	<p>Specimens = {{specimens}}</p> -->
</div>
