<div>
	<!-- <div>
		<header>Sample embedded directly as SVG</header>
		<div ng-include="'img/specimen00.svg'"></div>
	</div> -->
	<!-- <div id="svg-test">{{svgTest}}
	</div>
	<button class="btn btn-primary"
	 	ng-click="drawTree()">
	</button> -->
	
	<table class="table-bordered">
		<tr>
			<td ng-repeat="individual in population">
				<div>
					<a ng-href="#/view/{{individual.id}}">
						<img ng-src="{{individual.data.imageUrl}}"
							 ng-class="{ selected:{{$index == 0}} }">
						</img>
					</a>
				</div>
				<div>
					<button class="btn btn-primary propagate"
					 		ng-click="propagate(individual.id)">
						<strong>></strong>
						<!-- <span class="glyphicon glyphicon-play"></span> -->
					</button>
					<!-- <a class="btn btn-primary"
										 	ng-href="#/view/{{individual.id}}"><tt>i</tt></a> -->
				</div>
			</td>
		</tr>
	</table>
		
	<table class="table-bordered">
		<tr>
			<td ng-repeat="ancestor in lineage">
				<a ng-href="#/view/{{ancestor.data}}" class="ancestor">
					<img ng-src="{{ancestor.individual.data.imageUrl}}"
				     ng-click="selectAncestor(ancestor.id)"
				     ng-class="{ selected:{{ancestor.id==selectedAncestor}} }">
					</img>
				</a>
			</td>
		</tr>
	</table>
	
	<!-- <p>Raw lineage = {{lineageRaw}}</p>
	<p>Lineage = {{lineage}}</p>
	<hr>
	<p>Population = {{population}}</p> -->
</div>
